<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Проверяльщик ОКС</title>
        <link rel="stylesheet" href="{{ url_for('templates', path='/pure-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('templates', path='/grids-responsive-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('templates', path='/style.css') }}">
    </head>
    <body>
        <div class="container pure-g">
            <div class="pure-u-1-24"></div>
            <div class="pure-u-2-3">
                <h1>Ранее загруженные файлы</h1>
            </div>
            <div class="pure-u-1-24"></div>
        </div>
        <div class="container pure-g">
            <div class="pure-u-1-24"></div>
            <div class="pure-u-2-3">
                {% if data | length == 0 %}
                    <p>Файлов нет. Загрузите их с помощью кнопки справа или напрямую скопируйте в папку <code>media/devplans</code> на сервере, где запущено приложение.</p>
                {% else %}
                    {% for f in data %}
                    <div class="pure-g devplan-row">
                        <div class="pure-u-1-5">
                            <img class="pure-img devplan-img" src="{{ url_for('thumbnails', path=f.thumbnail) }}" alt="">
                        </div>
                        <div class="pure-u-4-5 devplan">
                            <div class="devplan-header">
                                <h4>{{ f.name }}</h4>
                                <p>Загружен {{ f.date }}</p>
                            </div>
                            <div class="devplan-footer">
                            {% if f.status == "not_parsed" %}
                                <a class="devplan-button" href="{{ f.urls.parse }}">Проанализировать</a>
                            {% else %}
                                <a class="devplan-button" href="{{ f.urls.view }}">Открыть</a>
                                <span class="devplan-button">
                                    Скачать:
                                    {% for key, value in f.urls.download.items() %}
                                    <a href="{{ value }}">{{ key }}</a>
                                    {% endfor %}
                                </span>
                                {% endif %}
                                <a class="devplan-button" href="{{ f.urls.delete }}">Удалить</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="pure-u-1-4">
                <div class="upload">
                    <img class="upload-logo" src="{{ url_for('templates', path='/upload.png') }}" alt="">
                    <a href="upload" class="button-xlarge pure-button pure-button-primary">Добавить новый файл</a>
                </div>
                <div class="batch">
                    <img class="batch-logo" src="{{ url_for('templates', path='/batch.png') }}" alt="">
                    <a href="batch" class="button-xlarge pure-button pure-button-primary">Пакетная обработка</a>
                </div>
            </div>
            <div class="pure-u-1-24"></div>
        </div>
    </body>
</html>
