<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Загрузка файлов | Проверяльщик ОКС</title>
        <link rel="stylesheet" href="{{ url_for('templates', path='/pure-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('templates', path='/grids-responsive-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('templates', path='/style.css') }}">
    </head>
    <body>
        <div class="container pure-g">
            <div class="pure-u-1-6"></div>
            <div class="pure-u-2-3">
                <div class="upload-page">
                    <img class="pure-img logo" src="{{ url_for('templates', path='/upload_big.png') }}" alt="">
                    <form class="upload-form" method="POST" action="/devplans/" enctype="multipart/form-data">
                        <label for="files">Выберите один или несколько файлов</label>
                        <input id="files" class="upload-file-input" type="file" name="files" accept="application/pdf" required multiple>
                        <button type="submit" class="button-xlarge pure-button pure-button-primary">Загрузить файлы</button>
                    </form>
                </div>
            </div>
            <div class="pure-u-1-6"></div>
        </div>
    </body>
</html>
